<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="appLogLevel" value="${APP_LOG_LEVEL:-DEBUG}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${appLogLevel}</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.pinkstack.cel.sandbox" level="DEBUG"/>
    <logger name="org.http4s" level="DEBUG"/>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
